In [1]:
from io_func import *

In [17]:
conn = get_connection()
i = 0
for from_ in ['provinsi_industri', 'pulau_industri', 'pulau_lapus', 'provinsi_lapus', 'provinsi', 'lapus', 'industri', 'pulau']:
    for to_ in ['provinsi_industri', 'pulau_industri', 'pulau_lapus', 'provinsi_lapus', 'provinsi', 'lapus', 'industri', 'pulau']:
        i = i+1
        if i < 7:
            continue
        try:
            print(f'DARI {from_} KE {to_}')
            data = pd.read_sql(sql_ia_per_unit(from_, to_), conn)
            print(data)
            print(f'JUMLAH = {data.nilai_juta.sum()}')
            print('\n\n\n\n\n')
        except Exception as e:
            conn.close()
            print(e)

DARI provinsi_industri KE industri
      provinsi_penyedia industri_penyedia industri_pengguna     nilai_juta
0                    31              I-22              I-10    1650.763447
1                    21              I-28              I-22  149169.019519
2                    31              I-36              I-06    8201.245151
3                    15              I-08              I-43       9.961762
4                    19              I-13              I-27    1791.292911
...                 ...               ...               ...            ...
91931                81              I-35              I-41   14598.693812
91932                32              I-48              I-30   52063.253717
91933                76              I-14              I-26       0.000000
91934                61              I-13              I-51  332626.446239
91935                73              I-16              I-51      83.572612

[91936 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI provinsi_industri KE pulau
      provinsi_penyedia industri_penyedia pulau_pengguna     nilai_juta
0                    76              I-33              2     902.239073
1                    65              I-37              3     803.798106
2                    19              I-48              4     162.701356
3                    18              I-42              5   22383.232934
4                    94              I-23              2       0.117086
...                 ...               ...            ...            ...
10603                34              I-01              1  224152.090966
10604                65              I-49              5       0.000000
10605                94              I-37              6  377808.400137
10606                14              I-29              1  427698.885505
10607                18              I-05              2     494.469595

[10608 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI pulau_industri KE provinsi_industri
       pulau_penyedia industri_penyedia provinsi_pengguna industri_pengguna  \
0                   1              I-14                14              I-21
1                   1              I-04                91              I-38
2                   1              I-06                76              I-30
3                   1              I-13                63              I-11
4                   1              I-09                15              I-34
...               ...               ...               ...               ...
551611              1              I-40                61              I-50
551612              1              I-24                51              I-41
551613              4              I-11                52              I-06
551614              3              I-30                53              I-30
551615              4              I-41                31              I-49

          nilai_juta
0           4.092948
1           0.000000
2           0.000000
3           6.610028
4           0.000000
...              ...
551611  40051.336714
551612   3794.767474
551613      0.005654
551614   2667.292762
551615  11775.633849

[551616 rows x 5 columns]
JUMLAH = 9616844157.266632






DARI pulau_industri KE pulau_industri
      pulau_penyedia industri_penyedia pulau_pengguna industri_pengguna  \
0                  1              I-01              1              I-01
1                  1              I-01              1              I-02
2                  1              I-01              1              I-03
3                  1              I-01              1              I-04
4                  1              I-01              1              I-05
...              ...               ...            ...               ...
97339              6              I-52              6              I-48
97340              6              I-52              6              I-49
97341              6              I-52              6              I-50
97342              6              I-52              6              I-51
97343              6              I-52              6              I-52

         nilai_juta
0      6.414416e+06
1      0.000000e+00
2      0.000000e+00
3      3.741910e+05
4      9.009746e-01
...             ...
97339  6.330598e+03
97340  7.204787e+04
97341  3.283761e+04
97342  2.329818e+04
97343  1.584265e+05

[97344 rows x 5 columns]
JUMLAH = 9616844157.26663






DARI pulau_industri KE pulau_lapus
      pulau_penyedia industri_penyedia pulau_pengguna lapangan_usaha_pengguna  \
0                  3              I-47              4                       P
1                  5              I-19              4                       O
2                  2              I-30              2                       E
3                  3              I-29              4                       L
4                  4              I-48              6                       L
...              ...               ...            ...                     ...
31819              3              I-22              3                       G
31820              3              I-12              3                       O
31821              6              I-26              3                      MN
31822              2              I-34              3                       B
31823              6              I-10              3                      MN

          nilai_juta
0        1585.358574
1         268.488234
2      318551.788133
3           0.000000
4         185.359054
...              ...
31819     426.381889
31820       0.000000
31821       0.004071
31822     271.538121
31823       0.000000

[31824 rows x 5 columns]
JUMLAH = 9616844157.266634






DARI pulau_industri KE provinsi_lapus
       pulau_penyedia industri_penyedia provinsi_pengguna  \
0                   1              I-24                62
1                   1              I-43                62
2                   1              I-10                64
3                   1              I-43                19
4                   1              I-19                91
...               ...               ...               ...
180331              4              I-04                81
180332              2              I-18                19
180333              3              I-47                91
180334              4              I-17                16
180335              1              I-03                17

       lapangan_usaha_pengguna     nilai_juta
0                            F   82149.843048
1                            F   76349.698110
2                            Q       3.353922
3                            G  200433.011171
4                            L      21.920131
...                        ...            ...
180331                       A       0.000000
180332                       K    4717.953330
180333                       J     247.957696
180334                       A     143.930446
180335                       B       0.000000

[180336 rows x 5 columns]
JUMLAH = 9616844157.266632






DARI pulau_industri KE provinsi
      pulau_penyedia industri_penyedia provinsi_pengguna     nilai_juta
0                  5              I-15                13       0.000000
1                  3              I-37                62   40892.139893
2                  3              I-51                18     521.741977
3                  1              I-30                81    3159.943380
4                  4              I-18                65  580906.670695
...              ...               ...               ...            ...
10603              3              I-24                75     105.829859
10604              5              I-36                52   11515.622317
10605              3              I-27                11       2.667545
10606              6              I-05                16       0.000000
10607              4              I-14                94       0.000000

[10608 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI pulau_industri KE lapus

     pulau_penyedia industri_penyedia lapangan_usaha_pengguna    nilai_juta
0                 1              I-47                       G  1.535724e+07
1                 6              I-03                       K  0.000000e+00
2                 1              I-43                      MN  1.943036e+06
3                 1              I-45                       I  2.768343e+05
4                 5              I-26                       P  1.152854e+04
...             ...               ...                     ...           ...
5299              4              I-44                       B  2.645691e+05
5300              4              I-32                       J  1.290198e+05
5301              4              I-51                       G  7.718071e+04
5302              6              I-29                       H  8.725421e+01
5303              2              I-04                       D  0.000000e+00

[5304 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI pulau_industri KE industri
      pulau_penyedia industri_penyedia industri_pengguna    nilai_juta
0                  3              I-34              I-25  0.000000e+00
1                  3              I-43              I-27  1.617280e+04
2                  3              I-38              I-11  4.244479e+04
3                  1              I-20              I-23  2.235939e+06
4                  1              I-36              I-10  2.010733e+05
...              ...               ...               ...           ...
16219              6              I-27              I-42  3.180421e+02
16220              3              I-11              I-14  5.537289e+00
16221              5              I-48              I-50  4.974993e+05
16222              3              I-18              I-42  9.750585e+04
16223              2              I-50              I-33  8.893868e+05

[16224 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI pulau_industri KE pulau
     pulau_penyedia industri_penyedia pulau_pengguna    nilai_juta
0                 6              I-36              6  2.453789e+06
1                 3              I-27              1  7.602085e+01
2                 5              I-32              2  2.252822e+06
3                 2              I-18              4  3.748733e+06
4                 5              I-03              4  7.078615e+05
...             ...               ...            ...           ...
1867              1              I-41              6  4.388604e+05
1868              5              I-25              1  4.046069e+03
1869              4              I-36              5  2.812240e+05
1870              3              I-06              3  6.013518e+05
1871              2              I-50              4  5.525315e+04

[1872 rows x 4 columns]
JUMLAH = 9616844157.26663






DARI pulau_lapus KE provinsi_industri
       pulau_penyedia lapangan_usaha_penyedia provinsi_pengguna  \
0                   1                    RSTU                65
1                   1                       J                15
2                   1                    RSTU                19
3                   1                       E                53
4                   1                      MN                73
...               ...                     ...               ...
180331              6                       K                35
180332              6                       O                65
180333              2                       G                14
180334              6                       H                94
180335              3                       C                94

       industri_pengguna    nilai_juta
0                   I-37     16.803378
1                   I-17  27053.954445
2                   I-28   1119.692550
3                   I-45      6.698853
4                   I-47  12323.913840
...                  ...           ...
180331              I-24    110.858263
180332              I-12      0.000000
180333              I-20  25384.185697
180334              I-44  79771.215434
180335              I-19      0.017455

[180336 rows x 5 columns]
JUMLAH = 9616844157.266632






DARI pulau_lapus KE pulau_industri
      pulau_penyedia lapangan_usaha_penyedia pulau_pengguna industri_pengguna  \
0                  3                       A              6              I-10
1                  6                       P              1              I-48
2                  2                       G              5              I-44
3                  4                       E              2              I-48
4                  5                       B              5              I-15
...              ...                     ...            ...               ...
31819              3                       A              3              I-36
31820              1                       H              3              I-50
31821              1                       H              3              I-21
31822              1                       B              3              I-51
31823              2                       C              3              I-19

         nilai_juta
0          0.000000
1         10.979472
2       7248.407178
3        299.180361
4       1185.685902
...             ...
31819    745.378675
31820  38414.044320
31821   7311.620787
31822     77.670947
31823  36752.037771

[31824 rows x 5 columns]
JUMLAH = 9616844157.266632






DARI pulau_lapus KE pulau_lapus
      pulau_penyedia lapus_penyedia pulau_pengguna lapus_pengguna  \
0                  1              A              1              A
1                  1              A              1              B
2                  1              A              1              C
3                  1              A              1              D
4                  1              A              1              E
...              ...            ...            ...            ...
10399              6           RSTU              6             MN
10400              6           RSTU              6              O
10401              6           RSTU              6              P
10402              6           RSTU              6              Q
10403              6           RSTU              6           RSTU

         nilai_juta
0      5.032690e+07
1      4.829119e+05
2      3.590595e+08
3      1.525461e+04
4      1.445960e+04
...             ...
10399  6.330598e+03
10400  7.204787e+04
10401  3.283761e+04
10402  2.329818e+04
10403  1.584265e+05

[10404 rows x 5 columns]
JUMLAH = 9616844157.266636






DARI pulau_lapus KE provinsi_lapus
      pulau_penyedia lapangan_usaha_penyedia provinsi_pengguna  \
0                  4                       Q                21
1                  5                       E                73
2                  1                       O                94
3                  5                    RSTU                33
4                  4                       J                65
...              ...                     ...               ...
58951              3                       D                73
58952              2                       J                65
58953              4                       B                11
58954              2                       P                76
58955              6                       P                17

      lapangan_usaha_pengguna    nilai_juta
0                           D      0.288737
1                           K   1076.822424
2                           P      6.058108
3                        RSTU   8464.844736
4                           H  42994.642031
...                       ...           ...
58951                       E      0.225653
58952                       P   8041.969305
58953                       C  10457.366027
58954                       J    347.606050
58955                    RSTU      0.040394

[58956 rows x 5 columns]
JUMLAH = 9616844157.266632






DARI pulau_lapus KE provinsi
     pulau_penyedia lapangan_usaha_penyedia provinsi_pengguna    nilai_juta
0                 1                       B                73  7.591997e+03
1                 3                       E                18  8.543121e+02
2                 5                       K                14  1.765803e+05
3                 4                    RSTU                32  3.067368e+04
4                 2                       J                35  4.896442e+07
...             ...                     ...               ...           ...
3463              3                       O                91  5.502796e+01
3464              4                       I                33  9.844922e+04
3465              3                       B                33  6.637280e+00
3466              4                       I                32  1.116877e+05
3467              5                       F                53  5.888899e+03

[3468 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI pulau_lapus KE lapus

     pulau_penyedia lapangan_usaha_penyedia lapangan_usaha_pengguna  \
0                 6                       Q                       Q
1                 5                       B                       C
2                 5                       L                       A
3                 6                       F                       Q
4                 1                    RSTU                       K
...             ...                     ...                     ...
1729              1                       D                       Q
1730              5                       A                    RSTU
1731              5                       H                       L
1732              4                       G                       Q
1733              2                       Q                      MN

        nilai_juta
0     9.738471e+04
1     2.170017e+07
2     0.000000e+00
3     1.609379e+04
4     2.535068e+05
...            ...
1729  1.216759e+06
1730  7.303019e+05
1731  3.835966e+05
1732  5.514167e+05
1733  1.623902e+06

[1734 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI pulau_lapus KE industri
     pulau_penyedia lapangan_usaha_penyedia industri_pengguna    nilai_juta
0                 3                       F              I-05  1.530330e+04
1                 2                       B              I-49  1.015769e+04
2                 5                       C              I-29  9.443393e+04
3                 2                       A              I-13  1.705181e+08
4                 1                       J              I-36  6.937057e+05
...             ...                     ...               ...           ...
5299              3                       K              I-29  1.514337e+03
5300              2                       L              I-08  3.996634e+05
5301              6                       F              I-10  1.545046e+05
5302              1                       B              I-43  3.883978e+04
5303              1                       K              I-39  2.815003e+05

[5304 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI pulau_lapus KE pulau
    pulau_penyedia lapangan_usaha_penyedia pulau_pengguna    nilai_juta
0                1                       H              5  2.771521e+06
1                1                       E              3  1.346930e+04
2                2                       E              4  1.901214e+04
3                4                       I              6  2.361827e+05
4                5                       F              5  9.947890e+06
..             ...                     ...            ...           ...
607              5                       Q              5  1.181241e+06
608              3                       G              2  2.582524e+06
609              5                       O              5  2.849973e+06
610              6                       G              4  1.242062e+05
611              1                       K              4  2.407055e+06

[612 rows x 4 columns]
JUMLAH = 9616844157.266607






DARI provinsi_lapus KE provinsi_industri
        provinsi_penyedia lapangan_usaha_penyedia provinsi_pengguna  \
0                      11                       O                18
1                      11                       O                35
2                      11                      MN                17
3                      11                       J                13
4                      11                       D                36
...                   ...                     ...               ...
1021899                94                      MN                32
1021900                82                       D                62
1021901                76                       F                16
1021902                94                       Q                63
1021903                94                       G                17

        industri_pengguna  nilai_juta
0                    I-34    0.000000
1                    I-02    0.000000
2                    I-27    0.529808
3                    I-27    0.296365
4                    I-35  139.065015
...                   ...         ...
1021899              I-10    0.031731
1021900              I-50    0.000000
1021901              I-36    0.010464
1021902              I-48    0.085966
1021903              I-23    5.285117

[1021904 rows x 5 columns]
JUMLAH = 9616844157.266626






DARI provinsi_lapus KE pulau_industri
       provinsi_penyedia lapangan_usaha_penyedia pulau_pengguna  \
0                     94                       P              1
1                     76                       I              1
2                     94                       O              1
3                     17                       B              1
4                     31                       D              1
...                  ...                     ...            ...
180331                16                       L              6
180332                81                       G              6
180333                12                       G              6
180334                21                       P              6
180335                62                       H              2

       industri_pengguna    nilai_juta
0                   I-40  1.877713e-02
1                   I-32  1.272470e+02
2                   I-43  0.000000e+00
3                   I-16  1.299000e+01
4                   I-13  7.966760e+04
...                  ...           ...
180331              I-22  3.681204e-22
180332              I-06  6.477201e+03
180333              I-26  3.935706e+02
180334              I-11  3.532082e-02
180335              I-06  5.925183e+03

[180336 rows x 5 columns]
JUMLAH = 9616844157.266634






DARI provinsi_lapus KE pulau_lapus
      provinsi_penyedia lapangan_usaha_penyedia pulau_pengguna  \
0                    34                      MN              1
1                    33                       E              1
2                    81                       F              5
3                    76                       D              1
4                    32                       B              1
...                 ...                     ...            ...
58951                53                       K              6
58952                17                       G              6
58953                52                    RSTU              6
58954                18                       I              2
58955                16                       O              2

      lapangan_usaha_pengguna    nilai_juta
0                           A  2.254697e+04
1                           C  3.369653e+04
2                           B  1.515899e-01
3                           C  9.333018e-02
4                           C  1.493425e+07
...                       ...           ...
58951                    RSTU  3.455817e+02
58952                       P  3.188583e+01
58953                       D  1.483774e+00
58954                       A  3.818130e+02
58955                       B  0.000000e+00

[58956 rows x 5 columns]
JUMLAH = 9616844157.266632






DARI provinsi_lapus KE provinsi_lapus
       provinsi_penyedia lapus_penyedia provinsi_pengguna lapus_pengguna  \
0                     11              A                11              A
1                     11              A                11              B
2                     11              A                11              C
3                     11              A                11              D
4                     11              A                11              E
...                  ...            ...               ...            ...
334079                94           RSTU                94             MN
334080                94           RSTU                94              O
334081                94           RSTU                94              P
334082                94           RSTU                94              Q
334083                94           RSTU                94           RSTU

          nilai_juta
0       3.106708e+06
1       3.357975e+04
2       6.282338e+06
3       2.777775e+02
4       5.704574e+02
...              ...
334079  2.579204e+02
334080  4.742039e+04
334081  1.401832e+04
334082  8.485839e+03
334083  1.022931e+05

[334084 rows x 5 columns]
JUMLAH = 9616844157.26663






DARI provinsi_lapus KE provinsi

      provinsi_penyedia lapangan_usaha_penyedia provinsi_pengguna  \
0                    12                       C                32
1                    75                       F                21
2                    16                       K                75
3                    76                       G                36
4                    61                       L                13
...                 ...                     ...               ...
19647                18                       P                34
19648                17                       E                18
19649                36                       O                64
19650                16                       A                31
19651                11                      MN                62

          nilai_juta
0      108938.564288
1           0.039176
2        7989.721705
3       16811.139758
4        1663.816481
...              ...
19647    1503.101125
19648     123.671910
19649     394.669008
19650  225963.640409
19651   11224.180217

[19652 rows x 4 columns]
JUMLAH = 9616844157.266634






DARI provinsi_lapus KE lapus
     provinsi_penyedia lapangan_usaha_penyedia lapangan_usaha_pengguna  \
0                   33                       L                       O
1                   36                       F                       D
2                   19                       L                      MN
3                   17                       O                       F
4                   34                       P                       Q
...                ...                     ...                     ...
9821                71                       L                       C
9822                65                       E                       O
9823                76                       E                      MN
9824                61                       C                       H
9825                19                       B                       E

         nilai_juta
0     188699.343800
1       9339.985892
2      13978.642156
3      55303.705502
4      25985.234892
...             ...
9821   22070.637726
9822     580.215842
9823    8018.080480
9824  413242.386609
9825      90.773534

[9826 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI provinsi_lapus KE industri
      provinsi_penyedia lapangan_usaha_penyedia industri_pengguna  \
0                    65                       J              I-32
1                    12                       H              I-41
2                    12                       H              I-40
3                    64                       I              I-42
4                    35                       O              I-37
...                 ...                     ...               ...
30051                94                       O              I-17
30052                94                       P              I-16
30053                94                       H              I-32
30054                94                       H              I-36
30055                94                       H              I-14

          nilai_juta
0       26800.496673
1      553986.636965
2       75295.327071
3       74835.614964
4          20.155273
...              ...
30051      67.836999
30052       3.727623
30053  198669.039518
30054  115802.044462
30055    8033.676129

[30056 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI provinsi_lapus KE pulau
     provinsi_penyedia lapangan_usaha_penyedia pulau_pengguna     nilai_juta
0                   64                       A              1  288371.564601
1                   52                       E              6     390.077005
2                   53                       B              5       0.000000
3                   19                       I              3    8907.534492
4                   73                       J              2  299324.335999
...                ...                     ...            ...            ...
3463                73                       H              4  702070.503980
3464                76                       F              2      21.697892
3465                91                       K              1   32735.419195
3466                76                       L              6     348.810536
3467                71                       B              6  341248.090720

[3468 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI provinsi KE provinsi_industri
      provinsi_penyedia provinsi_pengguna industri_pengguna    nilai_juta
0                    15                91              I-09      0.000000
1                    12                63              I-42  20314.463845
2                    51                14              I-14      0.132961
3                    34                11              I-09   1607.343254
4                    34                74              I-30    713.627652
...                 ...               ...               ...           ...
60107                63                81              I-37   2401.932982
60108                94                71              I-25     82.678289
60109                63                61              I-03  66224.474595
60110                82                14              I-48   1123.677110
60111                91                19              I-50    258.815217

[60112 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI provinsi KE pulau_industri
      provinsi_penyedia pulau_pengguna industri_pengguna    nilai_juta
0                    17              2              I-33  7.213762e+04
1                    94              6              I-33  3.288733e+06
2                    65              5              I-51  3.084969e+04
3                    31              6              I-41  1.603099e+05
4                    53              6              I-20  2.719800e+01
...                 ...            ...               ...           ...
10603                52              1              I-42  1.875102e+04
10604                19              6              I-17  1.241540e+02
10605                15              6              I-04  2.877079e+02
10606                52              2              I-38  1.460340e+05
10607                94              5              I-50  1.262726e+04

[10608 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI provinsi KE pulau_lapus
     provinsi_penyedia pulau_pengguna lapangan_usaha_pengguna    nilai_juta
0                   72              4                       B  7.831835e+05
1                   75              5                       G  1.194350e+06
2                   17              4                       P  6.006835e+03
3                   61              6                       Q  1.713096e+04
4                   53              2                       K  6.607473e+04
...                ...            ...                     ...           ...
3463                53              6                       A  4.825000e+03
3464                32              5                       H  7.398614e+05
3465                65              3                       F  1.308422e+04
3466                12              5                       E  4.651222e+03
3467                64              3                       I  1.928330e+05

[3468 rows x 4 columns]
JUMLAH = 9616844157.266636






DARI provinsi KE provinsi_lapus
      provinsi_penyedia provinsi_pengguna lapangan_usaha_pengguna  \
0                    73                35                       I
1                    18                17                       D
2                    71                31                       G
3                    31                51                    RSTU
4                    14                31                       G
...                 ...               ...                     ...
19647                16                21                       G
19648                21                63                       O
19649                34                52                       P
19650                15                17                       B
19651                36                63                       B

          nilai_juta
0      295826.555334
1        1221.230559
2      101912.169712
3      369474.018288
4      575551.999620
...              ...
19647   35942.665827
19648   20555.104587
19649   16150.288693
19650    6698.214186
19651  620468.031996

[19652 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI provinsi KE provinsi

     provinsi_penyedia provinsi_pengguna    nilai_juta
0                   11                11  6.796316e+07
1                   11                12  1.300372e+07
2                   11                13  7.113993e+05
3                   11                14  3.383422e+05
4                   11                15  1.749701e+05
...                ...               ...           ...
1151                94                76  1.891818e+04
1152                94                81  6.554274e+04
1153                94                82  3.736250e+04
1154                94                91  1.868153e+05
1155                94                94  6.032374e+07

[1156 rows x 3 columns]
JUMLAH = 9616844157.266636






DARI provinsi KE lapus
    provinsi_penyedia lapangan_usaha_pengguna    nilai_juta
0                  81                    RSTU  4.994893e+05
1                  76                       E  8.672004e+04
2                  73                       J  5.475010e+06
3                  11                      MN  8.887804e+05
4                  94                       E  3.227312e+04
..                ...                     ...           ...
573                73                       K  3.106600e+06
574                94                       P  1.547436e+06
575                17                       F  4.289849e+06
576                15                       F  1.223869e+07
577                34                      MN  2.046115e+06

[578 rows x 3 columns]
JUMLAH = 9616844157.266619






DARI provinsi KE industri
     provinsi_penyedia industri_pengguna    nilai_juta
0                   94              I-36  6.001944e+05
1                   17              I-10  1.628871e+04
2                   91              I-30  5.311820e+04
3                   82              I-28  9.290073e+05
4                   33              I-24  2.990160e+06
...                ...               ...           ...
1763                15              I-43  4.809413e+05
1764                11              I-47  2.569176e+06
1765                72              I-43  4.474265e+05
1766                12              I-01  2.288930e+06
1767                13              I-24  1.523042e+05

[1768 rows x 3 columns]
JUMLAH = 9616844157.266632






DARI provinsi KE pulau
    provinsi_penyedia pulau_pengguna    nilai_juta
0                  33              2  7.886493e+08
1                  74              2  7.173563e+06
2                  21              3  4.045613e+05
3                  62              3  2.212013e+05
4                  11              3  1.007692e+05
..                ...            ...           ...
199                34              4  2.158712e+06
200                14              1  4.080160e+08
201                18              1  1.685488e+08
202                64              3  6.652920e+06
203                62              1  3.359817e+06

[204 rows x 3 columns]
JUMLAH = 9616844157.266624






DARI lapus KE provinsi_industri
      lapangan_usaha_penyedia provinsi_pengguna industri_pengguna  \
0                        RSTU                51              I-10
1                           K                51              I-52
2                          MN                15              I-23
3                           E                18              I-44
4                           Q                76              I-15
...                       ...               ...               ...
30051                    RSTU                65              I-08
30052                    RSTU                75              I-47
30053                    RSTU                65              I-19
30054                    RSTU                82              I-28
30055                    RSTU                71              I-16

          nilai_juta
0           0.000000
1      202744.342466
2         167.576293
3          10.389266
4         138.094948
...              ...
30051    2503.527926
30052     180.602633
30053       6.252017
30054     148.131254
30055      45.578634

[30056 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI lapus KE pulau_industri
     lapangan_usaha_penyedia pulau_pengguna industri_pengguna    nilai_juta
0                          C              6              I-38  1.911321e+06
1                          C              2              I-27  1.244917e+07
2                          K              1              I-44  1.397562e+06
3                          G              2              I-51  9.212310e+06
4                          F              5              I-42  1.886342e+05
...                      ...            ...               ...           ...
5299                       E              3              I-14  6.443280e+01
5300                       F              2              I-34  1.201756e+05
5301                      MN              4              I-16  2.344801e+03
5302                       D              5              I-52  3.171976e+05
5303                       G              1              I-47  1.570419e+06

[5304 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI lapus KE pulau_lapus
     lapangan_usaha_penyedia pulau_pengguna lapangan_usaha_pengguna  \
0                          A              4                      MN
1                          Q              2                       B
2                          I              1                       K
3                          E              6                       H
4                          E              6                       L
...                      ...            ...                     ...
1729                       K              4                       H
1730                       H              1                       D
1731                       A              3                       E
1732                       H              4                       H
1733                       Q              4                       D

        nilai_juta
0     1.908615e+03
1     2.900012e+05
2     3.764894e+05
3     3.940867e+04
4     2.112356e+03
...            ...
1729  2.354057e+06
1730  1.322938e+06
1731  7.724819e+02
1732  9.789017e+06
1733  1.618374e+03

[1734 rows x 4 columns]
JUMLAH = 9616844157.266624






DARI lapus KE provinsi_lapus
     lapangan_usaha_penyedia provinsi_pengguna lapangan_usaha_pengguna  \
0                          Q                12                       D
1                       RSTU                94                       C
2                          D                34                       E
3                          Q                64                       K
4                          L                32                       G
...                      ...               ...                     ...
9821                       H                18                       Q
9822                       A                17                       A
9823                       P                94                    RSTU
9824                       K                52                       D
9825                       G                21                       C

        nilai_juta
0     2.688420e+03
1     3.497057e+04
2     3.357408e+04
3     6.147810e+03
4     5.559204e+06
...            ...
9821  9.383433e+04
9822  1.424779e+06
9823  1.537487e+03
9824  1.313223e+05
9825  8.786156e+06

[9826 rows x 4 columns]
JUMLAH = 9616844157.26663






DARI lapus KE provinsi
    lapangan_usaha_penyedia provinsi_pengguna    nilai_juta
0                         F                11  2.878551e+06
1                         D                14  1.508841e+07
2                         J                64  9.187952e+06
3                      RSTU                91  3.806251e+05
4                      RSTU                52  9.479446e+05
..                      ...               ...           ...
573                       O                36  4.510850e+06
574                       D                13  4.795649e+06
575                       C                73  8.038493e+07
576                       O                73  9.831560e+05
577                       F                52  2.315209e+06

[578 rows x 3 columns]
JUMLAH = 9616844157.266632






DARI lapus KE lapus

    lapus_penyedia lapus_pengguna    nilai_juta
0                A              A  1.243607e+08
1                A              B  1.402522e+06
2                A              C  8.115614e+08
3                A              D  2.119301e+04
4                A              E  3.042085e+04
..             ...            ...           ...
284           RSTU             MN  6.184203e+06
285           RSTU              O  5.535028e+06
286           RSTU              P  6.833625e+06
287           RSTU              Q  2.584298e+06
288           RSTU           RSTU  1.231213e+07

[289 rows x 3 columns]
JUMLAH = 9616844157.266617






DARI lapus KE industri
    lapangan_usaha_penyedia industri_pengguna    nilai_juta
0                         C              I-34  2.149022e+06
1                         E              I-33  6.479986e+05
2                         J              I-26  1.383088e+06
3                         I              I-26  1.801738e+05
4                         A              I-47  3.061562e+01
..                      ...               ...           ...
879                      MN              I-50  1.557643e+07
880                       K              I-09  6.182935e+06
881                       G              I-27  1.288356e+07
882                       Q              I-19  2.153438e+06
883                       I              I-42  2.068528e+06

[884 rows x 3 columns]
JUMLAH = 9616844157.266634






DARI lapus KE pulau
    lapangan_usaha_penyedia pulau_pengguna    nilai_juta
0                         B              6  3.416431e+07
1                         C              3  8.352923e+07
2                         I              5  1.141461e+07
3                      RSTU              3  3.995277e+06
4                         P              4  8.799640e+05
..                      ...            ...           ...
97                        I              6  7.435989e+06
98                       MN              6  1.081970e+07
99                        F              5  1.029285e+07
100                       A              1  5.126213e+08
101                       O              6  2.606149e+06

[102 rows x 3 columns]
JUMLAH = 9616844157.266602






DARI industri KE provinsi_industri
      industri_penyedia provinsi_pengguna industri_pengguna    nilai_juta
0                  I-04                73              I-39      0.000000
1                  I-15                94              I-44      0.000000
2                  I-13                62              I-26    620.068642
3                  I-15                62              I-24     36.618212
4                  I-14                35              I-30    460.788134
...                 ...               ...               ...           ...
91931              I-47                33              I-17   3808.942562
91932              I-42                13              I-24      0.000000
91933              I-51                52              I-28    832.650443
91934              I-29                32              I-20  16810.027988
91935              I-27                91              I-22      0.000000

[91936 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI industri KE pulau_industri
      industri_penyedia pulau_pengguna industri_pengguna     nilai_juta
0                  I-45              5              I-50   75337.252091
1                  I-06              4              I-45       0.000000
2                  I-37              5              I-04    3446.079432
3                  I-13              2              I-11    6460.683439
4                  I-26              6              I-12     276.394771
...                 ...            ...               ...            ...
16219              I-25              4              I-33  321402.650534
16220              I-05              6              I-47       0.000000
16221              I-41              5              I-26    2108.441929
16222              I-50              1              I-21   39346.739760
16223              I-12              4              I-30   16617.408449

[16224 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI industri KE pulau_lapus
     industri_penyedia pulau_pengguna lapangan_usaha_pengguna    nilai_juta
0                 I-44              1                       O  5.589522e+05
1                 I-32              1                       C  2.592958e+07
2                 I-12              4                       O  3.631005e+05
3                 I-18              5                       H  2.102770e+05
4                 I-21              3                       B  4.351046e+04
...                ...            ...                     ...           ...
5299              I-52              4                       J  7.066506e+04
5300              I-43              2                      MN  1.140693e+07
5301              I-30              4                       F  1.168498e+04
5302              I-49              3                       O  1.276957e+05
5303              I-40              5                      MN  1.975874e+04

[5304 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI industri KE provinsi_lapus
      industri_penyedia provinsi_pengguna lapangan_usaha_pengguna  \
0                  I-11                65                      MN
1                  I-22                76                       E
2                  I-25                19                       O
3                  I-40                75                       Q
4                  I-31                62                       F
...                 ...               ...                     ...
30051              I-52                62                       E
30052              I-52                33                       J
30053              I-52                73                       G
30054              I-52                31                      MN
30055              I-52                75                       L

         nilai_juta
0      2.371232e-01
1      2.797689e+02
2      4.323647e+03
3      5.718933e+03
4      4.579241e+05
...             ...
30051  5.669510e+03
30052  1.012048e+05
30053  9.554067e+05
30054  4.104895e+06
30055  1.806026e+02

[30056 rows x 4 columns]
JUMLAH = 9616844157.266632






DARI industri KE provinsi
     industri_penyedia provinsi_pengguna    nilai_juta
0                 I-24                63  7.124571e+05
1                 I-41                51  6.174658e+06
2                 I-48                65  1.231616e+06
3                 I-47                52  2.155059e+06
4                 I-26                82  1.532266e+05
...                ...               ...           ...
1763              I-26                15  1.342931e+05
1764              I-15                34  1.253009e+06
1765              I-52                14  2.308593e+06
1766              I-17                13  1.191221e+06
1767              I-01                91  2.388930e+05

[1768 rows x 3 columns]
JUMLAH = 9616844157.266632






DARI industri KE lapus
    industri_penyedia lapangan_usaha_pengguna    nilai_juta
0                I-32                       C  6.906003e+07
1                I-48                       G  5.705257e+07
2                I-17                       G  6.116506e+06
3                I-32                       O  1.187402e+07
4                I-39                       G  2.593703e+07
..                ...                     ...           ...
879              I-28                       O  1.317863e+07
880              I-52                       O  5.535028e+06
881              I-38                       P  4.436430e+06
882              I-05                       O  3.106674e+05
883              I-42                       L  1.218052e+07

[884 rows x 3 columns]
JUMLAH = 9616844157.26663






DARI industri KE industri
     industri_penyedia industri_pengguna    nilai_juta
0                 I-01              I-01  2.259381e+07
1                 I-01              I-02  0.000000e+00
2                 I-01              I-03  0.000000e+00
3                 I-01              I-04  2.287446e+06
4                 I-01              I-05  9.852441e+02
...                ...               ...           ...
2699              I-52              I-48  6.184203e+06
2700              I-52              I-49  5.535028e+06
2701              I-52              I-50  6.833625e+06
2702              I-52              I-51  2.584298e+06
2703              I-52              I-52  1.231213e+07

[2704 rows x 3 columns]
JUMLAH = 9616844157.266632






DARI industri KE pulau

    industri_penyedia pulau_pengguna    nilai_juta
0                I-43              5  1.773449e+07
1                I-50              3  1.308759e+06
2                I-33              2  4.458198e+08
3                I-41              4  9.862738e+06
4                I-12              5  1.955092e+07
..                ...            ...           ...
307              I-11              3  8.026829e+06
308              I-40              3  5.545624e+06
309              I-10              5  1.209343e+07
310              I-27              5  9.474880e+05
311              I-04              5  8.740784e+06

[312 rows x 3 columns]
JUMLAH = 9616844157.266636






DARI pulau KE provinsi_industri
      pulau_penyedia provinsi_pengguna industri_pengguna     nilai_juta
0                  1                62              I-19   23317.592613
1                  6                51              I-18     403.862112
2                  2                13              I-02  434522.992243
3                  4                51              I-03   56539.887361
4                  5                72              I-47  677679.722601
...              ...               ...               ...            ...
10603              2                64              I-24   34253.174261
10604              5                11              I-49   89353.767440
10605              2                64              I-22       0.000000
10606              2                53              I-12       0.000000
10607              5                74              I-09       0.000000

[10608 rows x 4 columns]
JUMLAH = 9616844157.266634






DARI pulau KE pulau_industri
     pulau_penyedia pulau_pengguna industri_pengguna    nilai_juta
0                 1              1              I-23  1.538617e+08
1                 3              5              I-03  1.291474e+04
2                 1              4              I-20  3.060813e+05
3                 1              1              I-25  1.035368e+08
4                 3              3              I-41  1.439466e+07
...             ...            ...               ...           ...
1867              4              6              I-36  8.049301e+05
1868              6              2              I-47  1.011564e+05
1869              4              5              I-43  3.136741e+04
1870              2              6              I-48  6.160673e+05
1871              4              5              I-25  3.281954e+04

[1872 rows x 4 columns]
JUMLAH = 9616844157.266634






DARI pulau KE pulau_lapus
    pulau_penyedia pulau_pengguna lapangan_usaha_pengguna    nilai_juta
0                4              1                       B  8.847595e+05
1                6              3                       G  4.969962e+04
2                1              1                       L  2.992628e+07
3                4              3                      MN  3.975000e+04
4                2              6                       L  5.064880e+05
..             ...            ...                     ...           ...
607              6              1                       A  1.745211e+05
608              5              4                       J  1.267540e+05
609              2              4                       B  1.278211e+07
610              5              2                       H  2.761025e+06
611              3              6                       A  2.262726e+04

[612 rows x 4 columns]
JUMLAH = 9616844157.266638






DARI pulau KE provinsi_lapus
     pulau_penyedia provinsi_pengguna lapangan_usaha_pengguna    nilai_juta
0                 6                61                       F  1.091229e+04
1                 4                82                       P  9.419568e+03
2                 5                13                       G  4.677053e+04
3                 2                81                       E  1.183896e+04
4                 5                32                       F  1.852078e+06
...             ...               ...                     ...           ...
3463              1                82                       Q  2.014916e+04
3464              3                11                       D  4.671679e+03
3465              3                75                       P  7.570173e+03
3466              1                12                       K  3.722286e+06
3467              5                33                      MN  3.656230e+04

[3468 rows x 4 columns]
JUMLAH = 9616844157.266634






DARI pulau KE provinsi
    pulau_penyedia provinsi_pengguna    nilai_juta
0                5                53  2.909666e+06
1                5                21  1.647036e+06
2                6                18  3.464101e+05
3                5                75  1.476856e+07
4                1                31  1.085389e+08
..             ...               ...           ...
199              1                74  2.794581e+06
200              3                19  1.207668e+05
201              6                65  7.420584e+04
202              5                32  1.180419e+07
203              1                15  9.516227e+07

[204 rows x 3 columns]
JUMLAH = 9616844157.26664






DARI pulau KE lapus
    pulau_penyedia lapangan_usaha_pengguna    nilai_juta
0                4                       C  2.618199e+08
1                2                       P  9.960361e+07
2                1                       C  1.664163e+09
3                4                       I  2.738118e+07
4                4                    RSTU  7.298842e+06
..             ...                     ...           ...
97               2                       H  3.349288e+08
98               6                       J  4.327828e+06
99               1                       E  4.013002e+06
100              6                    RSTU  2.278094e+06
101              2                       Q  7.251173e+07

[102 rows x 3 columns]
JUMLAH = 9616844157.266565






DARI pulau KE industri
    pulau_penyedia industri_pengguna    nilai_juta
0                3              I-42  8.390237e+06
1                1              I-33  1.848863e+08
2                3              I-17  2.176977e+06
3                4              I-10  3.824369e+06
4                4              I-21  1.313515e+07
..             ...               ...           ...
307              1              I-34  2.312789e+06
308              3              I-48  4.640477e+06
309              2              I-30  5.455785e+06
310              2              I-16  2.977477e+07
311              6              I-44  2.145405e+05

[312 rows x 3 columns]
JUMLAH = 9616844157.266636






DARI pulau KE pulau
   pulau_penyedia pulau_pengguna    nilai_juta
0               1              1  3.144919e+09
1               1              2  3.369579e+08
2               1              3  1.651711e+07
3               1              4  3.786895e+07
4               1              5  1.542000e+07
5               1              6  5.700957e+06
6               2              1  3.903011e+08
7               2              2  3.690028e+09
8               2              3  7.001510e+07
9               2              4  9.597679e+07
10              2              5  8.224626e+07
11              2              6  4.021425e+07
12              3              1  1.071208e+07
13              3              2  1.880966e+07
14              3              3  1.933303e+08
15              3              4  4.321111e+06
16              3              5  2.534975e+06
17              3              6  1.588304e+06
18              4              1  2.719200e+07
19              4              2  1.069612e+08
20              4              3  7.742710e+06
21              4              4  5.989296e+08
22              4              5  2.716830e+07
23              4              6  6.584280e+06
24              5              1  2.275786e+07
25              5              2  5.145425e+07
26              5              3  1.078461e+07
27              5              4  1.698356e+07
28              5              5  3.927038e+08
29              5              6  7.343768e+06
30              6              1  2.080297e+07
31              6              2  2.714895e+07
32              6              3  7.454646e+05
33              6              4  1.864221e+06
34              6              5  2.175872e+06
35              6              6  1.300387e+08
JUMLAH = 9616844157.266617